<!DOCTYPE html>
<html>

  <% include ../partial/head %>

  <style>
      .hr-light {
        border-top: 3px solid #fff;
        width: 80px;
      }

      h1, h2, h3, h4, h5, h6{
        font-family: Lato;
      }

      @media (max-width: 991px) {
          .editted{
              display: none
          }
      }

      @media (max-width: 550px) {
          .editted{
              display: none
          }

      }
    </style>


</head>

<body>
  <header>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top black">
        <a class="navbar-brand font-weight-bold" href="/">Outpatient MS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Register</a>
              <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                <a class="dropdown-item" href="/register">Register</a>
                <a class="dropdown-item" href="/login">Login</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->
</header>




   <section class="">
    <div style="height:120px;"></div>
        <div class="row mx-0 mb-5">

          <div class="col-md-6 mx-auto">
            <h1 class="h3-responsive text-center font-weight-bold">Register Now</h1>
            <hr class="hr w-25" style="border:3px solid;">

            <div class="col-md-12">
              <div class="row">
               <div class="clearfix"></div>
               <% if (messages.error) { %>
                   <div class="col-md-4 mx-auto">
                       <div class="alert alert-danger alert-dismissable p-2 mt-2" id="notify">
                           <h6 id="status" class="text-center font-weight-bold" ><%= messages.error %></h6>
                       </div>
                   </div>
               <% } else if (messages.success) { %>
                   <div class="alert alert-success alert-dismissable">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times; </button>
                       <p class="text-center">
                           <%= messages.success %>
                       </p>
                   </div>
               <% } %>
               <div class="clearfix"></div>
              </div>
            </div>


           <div class="col-md-12">
            <div class="row">
              <div class="col-md-8 mx-auto">
                  <form class="text-center p-2"  id="submitReg" action="/register" method="POST">
                      <input type="text" id="firstName" name="firstName" class="form-control mb-3 py-3" style="font-size:18px;" placeholder="First Name">
                      <input type="text" id="lastName" name="lastName" class="form-control mb-3 py-3" style="font-size:18px;" placeholder="Last Name">
                      <input type="text" id="phone" name="phone" class="form-control mb-3 py-3" style="font-size:18px;" placeholder="Phone Number">
                      <input type="email" id="email" name="email" class="form-control mb-3 py-3" style="font-size:18px;" placeholder="E-mail">
                      <input type="password" id="password" name="password" class="form-control mb-3 py-3" style="font-size:18px;" placeholder="Password">
                      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control mb-3 py-3" style="font-size:18px;" placeholder="Confirm Password">
                      <p>Already have an account? <a href="/login">Login Now</a></p>

                    <button class="btn btn-outline-black btn-block ">
                      <span class="h5 font-weight-bold text-capitalize">Register Now</span>
                    </button>
                  </form>
              </div>
            </div>


           </div>
          </div>

        </div>
   </section>

  <% include ../partial/footer %>
</body>
 <% include ../partial/scripts %>
</html>