<footer>
        <section class="black" style="font-family: Lato;">
         <div style="height:80px;"></div>
             <div class="container">
               <div class="row mx-0">
                     <div class="col-md-4 mb-4">
                         <div>
                             <h1 class="h3 font-weight-bold mb-5 white-text">Opening Hours</h1>
                             <p style="color:white;">Mon – Fri ------- 9:00am - 6:00pm</p>
                             <p style="color:white;">Saturday -------  9:00am - 5:00pm</p>
                             <p style="color:white;">Sunday -------  10:00am - 5:00pm</p>
                           </div>
                     </div>
                       <div class="col-md-3 mb-4">
                        <div>
                          <h1 class="h3 font-weight-bold mb-5 white-text">Contact Us</h1>
                          <p style="color:white;"><span class="fa fa-home mr-2"></span> Lasu Ojo, Lagos, Nigeria.</p>
                          <p style="color:white;"><span class="fa fa-phone-square mr-2"></span> +234 123 342 7890</p>
                          <a href="mailto:example@email.com"><p style="color:white;"><span class="fa fa-envelope-o mr-2"></span>Info@outpatient.com</p></a>
                        </div>
                       </div>

                       <div class="col-md-2 mb-4">
                        <div>
                          <h1 class="h3 font-weight-bold mb-5 white-text">Legal</h1>
                          <p style="color:white;">Terms and Conditions</p>
                          <p style="color:white;">Privacy Policy</p>
                          <p style="color:white;">About Us</p>
                          <p style="color:white;">FAQ</p>
                          <p style="color:white;">Contact Us</p>
                        </div>
                       </div>

                       <div class="col-md-3 mb-4">
                         <div>
                             <h1 class="h4-responsive font-weight-bold mb-5 white-text">Subscribe To Newsletter</h1>

                             <form class="text-center p-2">
                                 <input type="email" id="" class="form-control mb-3 py-3" style="font-size:18px;" placeholder="E-mail">
                                 <button class="btn btn-outline-white btn-block p-2">
                                     <span class="h5 font-weight-bold text-capitalize">Submit</span>
                                 </button>
                             </form>
                           </div>
                     </div>
               </div>
           </div>
          <div style="height:80px;"></div>
        </section>

      </footer>