<footer>

        <section>
            <div class="row mx-0">
                <div class="col-md-12 black">
                  <div class="my-4">
                        <p style="font-size:10px;" class="font-weight-bold float-left white-text">&copy Copyright 2019, <i class="fa fa-heart red-text"></i> Olabayo Segun Emmanuel</p>
                  </div>
                </div>
            </div>
        </section>
      </footer>