<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name = "theme-color" content="rgb(7, 41, 51)">
        <meta name = "msapplication-navbutton-color" content="rgb(7, 41, 51)">
        <meta name = "apple-mobile-web-app-status-bar-style" content="rgb(7, 41, 51)">

        <title>Outpatient Management System</title>
        <link rel="shortcut icon" href="/stylesheets/images/background/logo.jpg" />

        <link rel="stylesheet" href="/stylesheets/css/style.css">
        <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/css/mdb.min.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/css/animate.css">